body {
  background-image: url('/images/pattern.jpg');
  background-size: contain;
  margin: 0px 2rem;
}

h1{
  color: #d33129;
}

textarea {
  resize: none;
}

label{
  margin: 8px 0px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.column {
  flex: 100%;
}


.card {
  background: #ffccca;
  border-radius: 2px;
  margin: 2rem;
}

.card-1 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#image{
  margin: 16px 25px;
  width: 360px;
}

#number, #name, #email{
  width: 75%
}

#left-side {
  background: #ffccca;
  padding: 2rem;
  height: max-content;
  text-align: center;

}

#right-side {
  background: #fff;
  padding: 2rem;
}

.response {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.btn {
  display: flex;
  margin: 30px auto;
  padding: 8px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #f24e3d;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #e2343d;
}


input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #f24e3d;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

