body {
  background-image: url('/images/pattern.jpg');
  background-size: contain;
  margin: 0px 2rem;
}

textarea {
  resize: none;
}

label, input, textarea{
  margin: 8px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex: 50%;
}


.card {
  background: #ffdedc;
  border-radius: 2px;
  margin: 1rem;
}

.card-1 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#image{
  margin: 16px 25px;
  width: 360px;
}

#number, #name, #email{
  width: 50%
}

#left-side {
  background: #ffdedc;
  padding: 2rem;
  height: max-content;
  text-align: center;

}

#right-side {
  background: #fff;
  padding: 2rem;
}

.btn {
  display: flex;
  margin: 30px auto;
  padding: 8px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #f24e3d;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.btn:hover, .btn:focus {
  background-color: #e2343d;
}

