@use 'constant' as *;

* {
  @include resetter;
}

body {
  @include main-bg;
}

h1 {
  color: $primary-color;
}

textarea {
  resize: none;
}

label {
  margin: 8px 0px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
}

.column {
  flex: 100%;
}

.card {
  @include card-template();
}

#image {
  margin: 16px 25px;
  width: 360px;
}

#email, #name, #number {
  width: 75%;
}

#left-side {
  background: $secondary-color;
  padding: 2rem;
  height: max-content;
  text-align: center;
}

#right-side {
  background: white;
  padding: 2rem;
}

.response {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.btn {
  display: flex;
  margin: 30px auto;
  padding: 8px;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: $primary-color;
  color: white;
  transition: background-color 0.3s;
  &:hover {
    background-color: $primary-dark-color;
  }
  &:focus {
    background-color: $primary-dark-color;
  }
}

// Inheritance
%radio-btn {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"] {
  &:after {
    @extend %radio-btn;
    background-color: $radio-off-color;
  }

  &:checked {
    &:after {
      @extend %radio-btn;
      background-color: $primary-color;
    }
  }
}
