@use 'variables' as *;

@mixin card-template() {
  background: $secondary-color;
  border-radius: 2px;
  box-shadow: 0 14px 28px $shadow-light, 0 10px 10px $shadow-dark;
  margin: 2rem;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}