$primary-color: #f24e3d;
$primary-dark-color: #e2343d;

$secondary-color: #ffccca;
$radio-off-color: #d1d3d1;

$shadow-light: rgba(0, 0, 0, 0.25);
$shadow-dark: rgba(0, 0, 0, 0.22);

$font: 'Raleway', sans-serif;
$bg-image: '../images/pattern.jpg';